.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.question-image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.answer-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
}

label {
  display: block;
}

/* Style the answer option button */
.answer-options .answer-button {
  display: block;
  padding: 10px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: lightblue;
  color: #fff;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.answer-options .answer-button:hover {
  background-color: lightcoral;
}

.answer-options .answer-button.selected {
  background-color: green;
}

/* Style the submit button */
.submit-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: lightblue;
  border-radius: 6px;
  font-size: 16px;
}

.submit-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
